@mixin btn {
  background: map-get($colors, buttonJoin);
  border: none;
  border-radius: 2px;
  height: 35px;
  width: 100px;
  font-family: map-get($fonts, generalText);
  font-weight: bold;
  color: #fff;
}

@mixin links($color, $fontFamily, $fontSize) {
  color: $color;
  font-family: $fontFamily;
  font-size: $fontSize;
}

body {
  margin: 0;
  padding: 0;
  background-color: map-get($colors, bodyBackground);
  color: map-get($colors, textColor);
  font-family: map-get($fonts, secondText);

}

.header {
  width: 100%;
  height: 505px;
  background-image: $mainImg;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0px -195px;
  border-bottom-right-radius: 530px 200px;

  .header-wrap {
    width: 420px;
    padding-left: 3px;
    padding-top: 12px;
    height: inherit;
    margin-left: 130px;
    position: relative;

    p {
      :before {
        z-index: 0;
        content: '';
        position: absolute;
        top: 161px;
        left: 4px;
        width: 213px;
        height: 35px;
        background-color: map-get($colors, words);
      }
    }
  }

}

.landing-logo {
  display: flex;

  img {
    width: 32px;
    height: 32px;
  }

  p {
    margin-top: -3px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin-left: 10px;
  }

  span {
    font-size: 7px;
    margin-top: -3px;
    text-align: center;
  }
}

.header_heading {
  position: absolute;
  z-index: 3;
  line-height: 50px;
  top: 45px;
  font-weight: bold;
  font-family: map-get($fonts, generalText);
  font-size: 50px;
  letter-spacing: 0.5px;
}

.header_text {
  font-size: 11px;
  position: absolute;
  top: 211px;
  left: -30px;
  line-height: 17px;
  white-space: pre;
  letter-spacing: 0.23px;
}

.header_button {
  @include btn;
  position: absolute;
  top: 348px;
  left: 4px;
}

.login {
  @include links(#fff, map-get($fonts, generalText), 14px);
  position: absolute;
  top: 355px;
  left: 210px;
}

.section {
  position: relative;
  margin: -5px 21% 0 21%;

  > p:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0px;
    left: 398px;
    width: 130px;
    height: 35px;
    background-color: map-get($colors, words);
  }

  :last-child p:last-child:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 15px;
    left: 205px;
    width: 50px;
    height: 30px;
    background-color: map-get($colors, words);
  }
}

.section_text {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: map-get($fonts, generalText);
  z-index: 1;
}

.section_card {
  height: 200px;
  background-color: map-get($colors, cardBackground);
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 15px;

  .section_card_img {
    border-radius: 4px;
    height: 200px;
    width: 300px;
  }

  .section_card_right_container {
    color: white;
    width: 50%;
    float: right;
    padding: 20px;

    .section_card_heading {
      line-height: 50px;

      text-align: center;
      font-family: map-get($fonts, generalText);
      font-weight: 600;
    }

    .section_card_text {

      width: 350px;
      font-size: 12px;
    }

    .section_link {
      @include links(#fff, map-get($fonts, generalText), 12px);
      margin-left: 40%;
    }
  }
}

.section_banner {
  z-index: 2;
  position: absolute;
  bottom: -205px;
  right: 0;
  left: 0;
  height: 100px;
  display: flex;
  border-radius: 5px;
  margin: auto -30px;
  padding: 10px 15% 0 15%;
  align-items: center;
  justify-content: space-between;
  font-family: map-get($fonts, generalText);
  background: linear-gradient(to right, map-get($colors, gradientStart), map-get($colors, gradientEnd));

  .section_banner_text_wrap {
    vertical-align: middle;

    p {
      line-height: 10px;
    }

    .section_banner_heading {
      font-size: 22px;
      font-weight: bold;
    }

    .section_banner_text {
      font-size: 11px;
      color: white;
      margin-bottom: 40px;
    }
  }

  .section_banner_button {
    @include btn;
  }
}

.footer {
  height: 160px;
  color: white;
  margin-top: 150px;
  background-color: map-get($colors, footerBackground);

  .footer-wrap {
    padding: 85px 10% 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer_logo {
      @extend .landing-logo;
      height: 32px;
    }

    .footer_text {
      width: 220px;
      font-size: 10px;
    }

    .footer-cr {
      height: 32px;
      font-size: 11px;
    }
  }
}


