@import '_variables1.scss';

$fontSourceSansPro: 'Source Sans Pro', sans-serif;
$fontHind: 'Hind', sans-serif;
$fontFresca: 'Fresca', sans-serif;

@mixin btn {
  background: map-get($colors, buttonJoin);
  border: none;
  position: absolute;
  border-radius: 2px;
  height: 35px;
  width: 100px;
  font-family: $fontHind;
  font-weight: bold;
  color: #fff;
}
@mixin links($color, $fontFamily, $fontSize){
  color: $color;
  font-family: $fontFamily;
  font-size: $fontSize;
}

body {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 505px;
  background-image: $mainImg;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0px -195px;
  border-bottom-right-radius: 530px 200px;
}
.header-wrap {
  width: 420px;
  padding-left: 3px;
  padding-top: 12px;
  height: inherit;
  margin-left: 130px;
  position: relative;

  p {
    :before {
      z-index: 0;
      content: '';
      position: absolute;
      top: 161px;
      left: 4px;
      width: 213px;
      height: 35px;
      background-color: map-get($styledWords, awesome);
    }
  }
}
.landing-logo {
  display: flex;

  img {
    width: 32px;
    height: 32px;
  }

  p {
    margin-top: -3px;
    display: flex;
    flex-direction: column;
    font-family: $fontHind;
    font-weight: 600;
    margin-left: 10px;
  }

  span {
    font-family: $fontHind;
    font-size: 7px;
    margin-top: -3px;
    text-align: center;
  }
}
.header_heading {
  position: absolute;
  z-index: 3;
  line-height: 50px;
  top: 45px;
  font-weight: bold;
  font-family: $fontSourceSansPro;
  font-size: 50px;
  letter-spacing: 0.5px;
}
.header_text {
  font-family: $fontHind;
  font-size: 11px;
  position: absolute;
  top: 211px;
  left: -30px;
  line-height: 17px;
  white-space: pre;
  letter-spacing: 0.23px;
}
.header_button {
  @include btn;
  top: 348px;
  left: 4px;
}
.login {
  @include links(#fff, $fontHind, 14px);
  position: absolute;
  top: 355px;
  left: 210px;
}
.section {
  margin: -5px 21% 0 21%;

  .section_text {
    text-align: center;
    font-size: 30px;
    font-family: $fontSourceSansPro;
  }

  .section_card {
    height: 200px;
    background-color: map-get($colors, cardBackground);
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 15px;

    .section_card_img {
      border-radius: 4px;
      height: 200px;
      width: 300px;
    }

    .section_card_right_container {
      color: white;
      width: 50%;
      float: right;
      padding: 20px;

      .section_card_heading {
        text-align: center;
        font-family: $fontSourceSansPro;
        font-weight: 600;
      }

      .section_card_text {
        width: 350px;
        font-family: $fontHind;
        font-size: 12px;
        word-break: keep-all;
      }

      .section_link {
        @include links(#fff, $fontHind, 12px);
        margin-left: 40%;
      }
    }
  }
}



/*.section_banner_button{
 @include btn;
  bottom: 200px;
}*/