$mainImg: url('../img/m-h-night.jpg');

$colors: (
        textColor: #fff,
        bodyBackground: #21232e,
        buttonJoin: #e3ac00,
        cardBackground: #3b3f50,
        gradientStart: #dfa504,
        gradientEnd: #8d334f,
        footerBackground: #3b3f50,
        words: #ff4e33,
);
$fonts: (
        generalText: ('Source Sans Pro', sans-serif),
        secondText: ('Fresca', sans-serif),
)