$mainImg: url('../img/m-h-day.jpg');

$colors: (
        bodyBackground: #fff,
        buttonJoin: #699900,
        cardBackground: #21232e,
        gradientStart: #66960a,
        gradientEnd: #2f5dd1,
        footerBackground: #21232e,
        words: #14a0c7,
);
$fonts: (
        generalText: ('Source Sans Pro', sans-serif),
        secondText: ('Hind', sans-serif),
)